extends layout
block content
  script(src="/javascripts/views/catalogo.estado.js")
  div(id="frmEstados")
    div(class="title-zone")
        h1 Catálogo &gt; <span class="actual">Estados</span>
        
    div(class="row")
      div(class="col-md-12")
        div(class="panel panel-default")
          div(class="panel-heading")
           div
             i(class="fa fa-building fa-fw") Estado
          div(class="panel-body")
            div(class="panel-body",style="overflow:scroll")
              table(id="tblDatos",style="width:99%;")
              div(id="pgDatos",style="text-align: center;")