extends layout
 
block content
  div(id="Catalogos",data-ng-controller="CatalogosController as ctrl",class="ng-scope")
    div(class="title-zone")
        h1 Catálogo &gt; <span class="actual">Estado</span>
        
    div(class="row")
      div(class="col-md-12")
        div(class="panel panel-default")
          div(class="panel-heading")
           div
             i(class="fa fa-building fa-fw") Estado
          div(class="panel-body") Cuerpo