mixin panelgrid(title, grid, pager) 
  div(class="row")
      div(class="col-md-12")
        div(class="panel panel-default")
          div(class="panel-heading")
           div
             i(class="fa fa-building fa-fw") #{title}
          div(class="panel-body")
            div(class="panel-body",style="overflow:scroll")
                table(id="#{grid}",style="width:99%;")
                div(id="#{pager}",style="text-align: center;")